<!-- <form method="POST" enctype="multipart/form-data" action="sitesettings" accept-charset="UTF-8"> -->
<form id="settings_form" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
	<li><strong>title</strong><input id="title" name="title_name" type="text" value="{{ title }}"></li>
	<li><strong>subtitle</strong><input id="subtitle" name="subtitle_name" type="text" value="{{ subtitle }}"></li>
	<input class="btn btn-primary" type="submit" value="Update Site Settings">
	<li><strong>description</strong><textarea id="description" name="description_name">{{ description }}</textarea></li>
	<img id="image_holder" src='{{ image_url }}' alt="Website main image">
	<label for="image">Image: </label>
	<input name="image" type="file" id="image">
</form>
<!-- <progress></progress> -->
<!--  -->

