
// GENERAL

body, button, input, textarea {
    font-family: 'Raleway', sans-serif;
}

// TEXT INPUTS

input, textarea
{
    color: #555;
    
    outline: none !important;
    border: none !important;
    resize: none !important;

    background-color: white;
    text-align:left;
    text-shadow:0px 1px 0px rgb(255,255,255);
}

input[type=text], input[type=password], textarea 
{
    -webkit-transition: all 0.2s ease-in-out !important;
    -moz-transition: all 0.2s ease-in-out !important;
    -ms-transition: all 0.2s ease-in-out !important;
    -o-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
    outline: none !important;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus 
{
    // box-shadow: inset 0px 1px 2px 0px rgba(102,102,102,0.25), 0 0 5px rgba(81, 203, 238, 1) !important;
    // border: 1px solid rgba(81, 203, 238, 1) !important;
}
 
input[type=text]:hover, input[type=password]:hover, textarea:hover 
{
    background-color: #FFFDEA;
}
 
input[type=text]:focus, input[type=password]:focus, textarea:focus 
{
    background-color: #FFFDEA;
}

textarea, input[type="text"], input[type="password"]
{
    padding-left: 10px;
    // .rounded(6px);
}



// TEXT

p {
	margin: 0;
}

.general-text, .general-text-smaller, .general-text-tiny
{
	display: inline-block;
	font-family:"Raleway";
	line-height:140%;
	color:rgb(119,119,119);
	text-shadow:0px 1px 0px rgb(255,255,255);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #ffffffff,Positive = true)";zoom:1;
}


// LISTS

ul {
    list-style: none;
}


