@import 'elements/elements.less';

body {
	padding-bottom: 4em;
}

.text-hyperlink
{
	// color: @brand-info !important;

	display: inline-block;

	&:hover {
		// color: darken(@brand-info, 15%);
	}
}



@media screen and (min-width: 200px) and (max-width: 480px)
{
	.general-text-tiny
	{
		font-size:10px;
	}
	.general-text-smaller
	{
		font-size:14px;
	}
	.general-text
	{
		font-size:16px;
	}
}
@media screen and (min-width: 480px) and (max-width: 768px)
{
	.general-text-tiny
	{
		font-size:12px;
	}
	.general-text-smaller
	{
		font-size:14px;
	}
	.general-text
	{
		font-size:18px;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px)
{
	.general-text-tiny
	{
		font-size:14px;
	}
	.general-text-smaller
	{
		font-size:16px;
	}
	.general-text
	{
		font-size:20px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px)
{
	.general-text-tiny
	{
		font-size:16px;
	}
	.general-text-smaller
	{
		font-size:18px;
	}
	.general-text
	{
		font-size:20px;
	}
}
@media screen and (min-width: 1200px)
{
	.general-text-tiny
	{
		font-size:16px;
	}
	.general-text-smaller
	{
		font-size:20px;
	}
	.general-text
	{
		font-size:22px;
	}
}




// /* Smartphones (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 320px) 
// and (max-device-width : 480px) {
// /* Styles */
// }

// /* Smartphones (landscape) ----------- */
// @media only screen 
// and (min-width : 321px) {
// /* Styles */
// }

// /* Smartphones (portrait) ----------- */
// @media only screen 
// and (max-width : 320px) {
// /* Styles */
// }

// /* iPads (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {
// /* Styles */
// }

// /* iPads (landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : landscape) {
// /* Styles */
// }

// /* iPads (portrait) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
// /* Styles */
// }

// /* Desktops and laptops ----------- */
// @media only screen 
// and (min-width : 1224px) {
// /* Styles */
// }

// /* Large screens ----------- */
// @media only screen 
// and (min-width : 1824px) {
// /* Styles */
// }

// /* iPhone 4 ----------- */
// @media
// only screen and (-webkit-min-device-pixel-ratio : 1.5),
// only screen and (min-device-pixel-ratio : 1.5) {
// /* Styles */
// }