
.dashboard_column
{
	display: inline-block;
	vertical-align: top;
	
	&.panel_root
	{
		outline: 1px solid green;
	}
	
	&.panel_sections
	{
		outline: 1px solid blue;
	}

	&.panel_section_edit
	{
		outline: 1px solid orange;		
	}

	&.panel_section_elements
	{
		outline: 1px solid cyan;
	}	

	&.panel_section_element_edit
	{
		outline: 1px solid red;
	}
}