// UTILS

.inlineblock
{
	display: inline-block;
	vertical-align: top;
}

.borderless
{
    border: none !important;
}

.block
{
    display: block !important;
}

.flip-horizontal
{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.flip-vertical
{
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}